In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('AAPL_raw.csv', skiprows=3, names=['Date', 'Close', 'High', 'Low', 'Open', 'Volume'])
df.head(10)

         Date      Close       High        Low       Open     Volume
0  2015-01-02  24.261044  24.729267  23.821668  24.718171  212818400
1  2015-01-05  23.577574  24.110150  23.391173  24.030263  257142000
2  2015-01-06  23.579794  23.839424  23.218085  23.641928  263188400
3  2015-01-07  23.910437  24.010294  23.677434  23.788387  160423600
4  2015-01-08  24.829134  24.886830  24.121251  24.238863  237458000
5  2015-01-09  24.855759  25.130922  24.456326  25.002216  214798000
6  2015-01-12  24.243292  24.993335  24.143435  24.986678  198603200
7  2015-01-13  24.458544  25.031063  24.167847  24.727051  268367600
8  2015-01-14  24.365339  24.518454  24.076860  24.196690  195826400
9  2015-01-15  23.704060  24.423036  23.668555  24.409723  240056000

In [13]:
df.shape

(2672, 6)

In [14]:
df.info

<bound method DataFrame.info of             Date       Close        High         Low        Open     Volume
0     2015-01-02   24.261044   24.729267   23.821668   24.718171  212818400
1     2015-01-05   23.577574   24.110150   23.391173   24.030263  257142000
2     2015-01-06   23.579794   23.839424   23.218085   23.641928  263188400
3     2015-01-07   23.910437   24.010294   23.677434   23.788387  160423600
4     2015-01-08   24.829134   24.886830   24.121251   24.238863  237458000
...          ...         ...         ...         ...         ...        ...
2667  2025-08-12  229.649994  230.800003  227.070007  228.009995   55626200
2668  2025-08-13  233.330002  235.000000  230.429993  231.070007   69878500
2669  2025-08-14  232.779999  235.119995  230.850006  234.059998   51916300
2670  2025-08-15  231.589996  234.279999  229.339996  234.000000   56038700
2671  2025-08-18  230.889999  233.119995  230.110001  231.699997   37451700

[2672 rows x 6 columns]>

In [15]:
df.describe()

             Close         High          Low         Open        Volume
count  2672.000000  2672.000000  2672.000000  2672.000000  2.672000e+03
mean    101.061157   102.075724    99.944003   100.968045  1.136290e+08
std      69.792061    70.480376    69.018273    69.712657  6.804936e+07
min      20.624050    20.927680    20.425436    20.546430  2.323470e+07
25%      36.265045    36.484779    35.929499    36.260833  6.777740e+07
50%      76.727558    77.299974    75.979730    76.546423  9.650920e+07
75%     162.982140   164.627783   161.648769   162.966115  1.385533e+08
max     258.103729   259.179926   256.718662   257.276679  6.488252e+08

In [16]:
df.isna().sum()

Date      0
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [ ]:
df.